body {
  background-color:#C4DDFF;

}
hr {
  border-style:none;
  border-top-style:dotted;
  margin-top:5%;
  margin-bottom:5%;
  width:10%;
  background-color:black;

  height:0px;
}
table{

  border-style: dashed;
}
th {
  font-size: 40px;
  color:green;
}

tr{
  font-size: 30px;
  color:#EB5353;
}


h2
{
    background-color: #FEE2C5;
    font-size: 50px;
    color:blue;
}
h3
{
    background-color: #FEE2C5;
    font-size: 50px;
    color:blue;
}

.intro
{
  font-size: 30px;
  color:orange;
  background-color:none;
}

.skills{
  margin: 0 auto;
}

ol li
{
  font-size: 30px;
  color:orange;
}

.heading
{
  font-size: 50px;
  color: #D4D925;
}
p {

  font-size: 30px;
  color:orange;
}
